@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=Beaufort+for+LOL+Bold);

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    background-image: url(https://i.ibb.co/kyxWVM2/Irelia-0.jpg);
}

.first{
    font-family: "Beaufort for LOL", sans-serif;
    color: rgb(200, 170, 110);
    font-weight: 700;
    font-size: 15px;
    line-height: 35px;
    font-style: italic;
    text-transform: uppercase;
    padding-top:200px;
    padding-left: 150px;
    padding-bottom:1px;
    font-style: italic;
}
.two{
    color: white;
    font-size: 115px;
    padding-left: 285px;
    margin: -150px;
    font-family: "Beaufort for LOL Bold";
    font-style: italic;
}
.text{
    color: white;
    font-size: 22px;
    word-wrap: break-word;
    padding-left: 147px;
    padding-top: 40px;
    width: 700px;
    
}


.bord{
    border: solid;
    border-color:rgb(200, 170, 110) ;
    height: 125px;
    width: 130px;
    margin-left: 145px;
    border-width: 1px;
    
}


.back{
    background-color: rgb(10, 20, 40);
    margin: 12px;
    height: 100px;
    opacity: 0.85;
}
.icons{
    position:relative;
    padding: 14px;
    text-align: center;
    color: white;
    font-size: 14px;
    
}
.wor{
    display: flex;
}

.org{
    margin-left: -120px;
}
.tor{
    color:rgb(200, 170, 110);
    margin-top: 0px;
    font-size: 14px;
}
.last{
    border-top: 1px solid rgb(200, 170, 110);
    margin-top: 150px;
    margin-left: 120px;
    width: 800px;
    display: flex;
    color:white;
    font-size: 10px;

} 
.norm{
    color: darkgray;
    opacity: 0.8;
}
.top{
    
    border: 3px solid rgb(0, 0, 0);
    height: 60px;
    margin: -9px;
    background-color: black;
    display: flex;
    font-family: "Beaufort for LOL Bold"
}
.bottom{
    margin-top: 20px;
    color: white;
    text-decoration: none;

}
.img{
    width: 50px;
    height: 50px;
}
.textq{
    padding-left: 50px;
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 13px;
}
.textq:hover{
    color:red
}
.lupa{
    padding: 4px;
}
.right{
    border: 2px solid rgb(49, 48, 48);
    border-radius: 12px;
    width: 40px;
    height: 40px;
    margin-left: 80px;
    margin-top: 8px;
    background-color: rgb(49, 48, 48);
}
.earth{
    margin-left: 13px;
    margin-top: 20px;
}
.vhod{
    border: 2px solid rgb(49, 48, 48);
    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    margin-top: 8px;
    background-color: rgb(49, 48, 48);
    color:white;
    text-align: center;
    font-size: 26px;
}
.center{
    border: 2px solid rgb(120, 227, 241);
    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    margin-top: 8px;
    background-color: rgb(120, 227, 241);
    color:black;
    text-align: center;
    font-size: 26px;

}